<div class="modal-body">
  <div class="container">
    <div class="title">Registro de Talhões</div>
    <form (ngSubmit)="addTalhao()" #Form="ngForm" ngNativeValidate>
      <div class="user-details">
        <div class="input-box">
          <span class="details">Área do Talhão:(km²)</span>
          <input type="number"
          required
          onkeydown="return event.keyCode !== 69 && event.keyCode !== 187 && event.keyCode !== 189"
          [(ngModel)]="model.area" name="area">
        </div>
        <div class="input-box">
          <span class="details">Qtd.Produtos</span>
          <input type="number"
          onkeydown="return event.keyCode !== 69 && event.keyCode !== 187 && event.keyCode !== 189"
          required
          [(ngModel)]="model.qtdProdutos" name="qtdProdutos">
        </div>
      </div>
      <div *ngIf="showMessageRangeMax" class="alert alert-danger" role="alert">
        <p>Área máxima da fazenda ultrapassado</p>
      </div>
      <div class="button">
        <input type="submit" name="registrar" value="Registrar">
      </div>
    </form>
    <div *ngIf="dataSourceTalhao.length" class="container registros-tabela">
      <div class="title">Talhões registrados</div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Área</th>
            <th>QtdProdutos</th>
            <th>Produtividade</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of dataSourceTalhao">
            <td>{{item.area}}km²</td>
            <td>{{item.qtdProdutos}}</td>
            <td>{{item.produtividade}}prod/(km²)</td>
            <td title="Excluir Registro">
              <span (click)="removeTalhao(item.id)" class="clicavel material-icons">delete</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


